@font-face {
    font-family: 'Averta Std CY';
    src: url('../fonts/AvertaStdCY-RegularItalic.eot');
    src: url('../fonts/AvertaStdCY-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvertaStdCY-RegularItalic.woff2') format('woff2'),
        url('../fonts/AvertaStdCY-RegularItalic.woff') format('woff'),
        url('../fonts/AvertaStdCY-RegularItalic.ttf') format('truetype'),
        url('../fonts/AvertaStdCY-RegularItalic.svg#../fonts/AvertaStdCY-RegularItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../fonts/AvertaStdCY-Semibold.eot');
    src: url('../fonts/AvertaStdCY-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvertaStdCY-Semibold.woff2') format('woff2'),
        url('../fonts/AvertaStdCY-Semibold.woff') format('woff'),
        url('../fonts/AvertaStdCY-Semibold.ttf') format('truetype'),
        url('../fonts/AvertaStdCY-Semibold.svg#../fonts/AvertaStdCY-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../fonts/AvertaStdCY-Black.eot');
    src: url('../fonts/AvertaStdCY-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvertaStdCY-Black.woff2') format('woff2'),
        url('../fonts/AvertaStdCY-Black.woff') format('woff'),
        url('../fonts/AvertaStdCY-Black.ttf') format('truetype'),
        url('../fonts/AvertaStdCY-Black.svg#../fonts/AvertaStdCY-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../fonts/AvertaStdCY-Bold.eot');
    src: url('../fonts/AvertaStdCY-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvertaStdCY-Bold.woff2') format('woff2'),
        url('../fonts/AvertaStdCY-Bold.woff') format('woff'),
        url('../fonts/AvertaStdCY-Bold.ttf') format('truetype'),
        url('../fonts/AvertaStdCY-Bold.svg#../fonts/AvertaStdCY-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../fonts/AvertaStdCY-Extrabold.eot');
    src: url('../fonts/AvertaStdCY-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvertaStdCY-Extrabold.woff2') format('woff2'),
        url('../fonts/AvertaStdCY-Extrabold.woff') format('woff'),
        url('../fonts/AvertaStdCY-Extrabold.ttf') format('truetype'),
        url('../fonts/AvertaStdCY-Extrabold.svg#../fonts/AvertaStdCY-Extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../fonts/AvertaStdCY-Light.eot');
    src: url('../fonts/AvertaStdCY-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvertaStdCY-Light.woff2') format('woff2'),
        url('../fonts/AvertaStdCY-Light.woff') format('woff'),
        url('../fonts/AvertaStdCY-Light.ttf') format('truetype'),
        url('../fonts/AvertaStdCY-Light.svg#../fonts/AvertaStdCY-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../fonts/AvertaStdCY-Regular.eot');
    src: url('../fonts/AvertaStdCY-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvertaStdCY-Regular.woff2') format('woff2'),
        url('../fonts/AvertaStdCY-Regular.woff') format('woff'),
        url('../fonts/AvertaStdCY-Regular.ttf') format('truetype'),
        url('../fonts/AvertaStdCY-Regular.svg#../fonts/AvertaStdCY-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

